/* Color Variables -------------------------------- */

$black:        #111111;
$brown:        #896a05;
$white:        #fcfcfc;

$reg-blue:     #128ac9;  /* #09a0ef, #2966c0 */
$dark-blue:    #293949;
$light-blue:   #ccedff;  /* #00a7ff */
$navy-blue:    #23313f;
$dem-blue:     #1d24d5;  /* #232066 */
$tory-blue:    #374e88;  /* #394994 */

$reg-green:    #12c93d;
$light-green:  #e5fde9;  /* #7ef593 */
$tgp-green:    #78b82a;

$reg-grey:     #aeb2b7;
$dark-grey:    #a5a9af;
$light-grey:   #c0c3c7;  /* #c9cccf, #d2d4d7, #dbdddf */
$green-grey:   #ced8b6;

$reg-marine:   #1abc9c;
$dark-marine:  #007e65;
$light-marine: #66d8c1;

$reg-orange:   #ff7a23;
$dark-orange:  #bc451a;
$light-orange: #ffae23;

$reg-purple:   #c02fc7;
$light-purple: #f4e9fc;  /* #c790ed */
$ukip-purple:  #722889;

$reg-red:      #ef091c;
$light-red:    #ffe0e2;  /* #ff6570 */
$bold-red:     #f6223f;
$labour-red:   #e4003b;
$gop-red:      #e91d0e;
$nazi-red:     #ce6262;
$soviet-red:   #cd362a;

$reg-yellow:   #ffcd78;  /* #ffbd4c */
$snp-yellow:   #fef48b;
