/* Animations ------------------------------------ */

@import '_colors';

@keyframes compass-rotate {
    20% { transform: rotate(40deg); }
    40% { transform: rotate(-20deg); }
    65% { transform: rotate(80deg); }
    80% { transform: rotate(90deg); }
    90% { transform: rotate(30deg); }
   100% { transform: rotate(0); }
}

@keyframes pulse {
   from { color: $dark-grey }
     to { color: lighten($dark-blue, 10%); }
}

@keyframes bg-pulse {
   from { background-color: lighten($dark-blue, 10%); }
     to { background-color: $dark-blue; }
}
