/* Background & Fill Colors ---------------------- */

@import '_colors';

$colors: (
    'black':      $black,
    'brown':      $brown,
    'white':      $white,

    'blue': (
        'reg':    $reg-blue,
        'light':  $light-blue,
        'dark':   $dark-blue,
        'navy':   $navy-blue,
        'dem':    $dem-blue,
        'tory':   $tory-blue
    ),

    'green': (
        'reg':    $reg-green,
        'light':  $light-green,
        'tgp':    $tgp-green
    ),

    'grey': (
        'reg':    $reg-grey,
        'dark':   $dark-grey,
        'light':  $light-grey,
        'green':  $green-grey
    ),

    'marine': (
        'reg':    $reg-marine,
        'dark':   $dark-marine,
        'light':  $light-marine
    ),

    'orange': (
        'reg':    $reg-orange,
        'dark':   $dark-orange,
        'light':  $light-orange
    ),

    'purple': (
        'reg':    $reg-purple,
        'light':  $light-purple,
        'ukip':   $ukip-purple
    ),

    'red': (
        'reg':    $reg-red,
        'light':  $light-red,
        'bold':   $bold-red,
        'labour': $labour-red,
        'gop':    $gop-red,
        'nazi':   $nazi-red,
        'soviet': $soviet-red
    ),

    'yellow': (
        'reg':    $reg-yellow,
        'snp':    $snp-yellow
    ),
);

@mixin map-to-class($map, $property, $prefix, $divider: '-', $suffix: '') {
    $prefix: if($prefix == '' and &, &, $prefix);
    @each $key, $value in $map {
        @if type-of($value) == map {
            $suffix: $divider + $key;
            @include map-to-class($value, $property, $prefix, $divider, $suffix);
        } @else {
            @at-root #{$prefix}#{$divider}#{$key}#{$suffix} {
                #{$property}: $value;
            }
        }
    }
}

@include map-to-class($colors, background-color, '.bg');
@include map-to-class($colors, fill, '.fill');
