/* Buttons Partial -------------------------------- */

@import '_colors';

%button {
    padding: 0.8rem;
    color: $dark-grey;
    font-size: 1.8rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    > i {
        pointer-events: none;
        transition: color 150ms, text-shadow 150ms, -webkit-text-stroke 150ms;
    }

    &.active > i {
        animation: 1s ease 0s infinite alternate pulse;
    }

    &:focus > i,
    &:hover > i {
        color: $navy-blue;
        text-shadow: 0 0 0.6rem darken($reg-yellow, 10%);
        -webkit-text-stroke: 0.5px darken($reg-yellow, 10%);
    }
}

#sidebar-button {
    @extend %button;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.45rem;

    &:focus > i,
    &:hover > i {
        animation: compass-rotate 5s;
    }
}

.action-button {
    @extend %button;
    display: none;
    padding: 0.6rem 2.5vw;
    font-size: 5vw;

    &.show {
        display: inline-block;
    }

    @media (min-width: 420px) {
        padding: 0.6rem 0.7rem;
        font-size: unset;
    }
}

#about-button,
#open-button {
    position: relative;
    bottom: -0.1rem;
}

#new-button,
#share-button {
    position: relative;
    bottom: 0.1rem;
    font-size: 0.85em;
}

