/* Compass --------------------------------------- */

@import '_colors';

#load-msg {
    color: $dark-grey;
    letter-spacing: 0.02em;
}

.axis {
    > path {
        fill: none;
        stroke: rgba(black, 0.3);
        stroke-width: 2;
        shape-rendering: crispEdges;
    }
    
    line {
        fill: none;
        stroke: rgba(black, 0.2);
        stroke-dasharray: 1;
        shape-rendering: crispEdges;
    }

    text {
        fill: $green-grey;
        font-size: 0.8rem;
    }
}

.direction-label {
    fill: $dark-grey;
    font-size: 1.125rem;
    letter-spacing: 0;

    @media (min-width: 800px) {
        font-size: 1.3rem;
    }
}

.ideology-label {
    display: none;
    fill: $green-grey;
    font-size: 1rem;
    font-style: italic;
    font-weight: lighter;
    font-variant: small-caps;

    @media (min-width: 540px) {
        display: block;
    }

    @media (min-width: 600px) {
        display: none;
    }

    @media (min-width: 740px) {
        display: block;
    }
}

.axis-label {
    display: none;
    fill: $dark-grey;
    font-size: 1rem;
    font-style: italic;
    font-weight: lighter;

    @media (min-width: 420px) {
        display: block;
    }
}

.point {
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 150ms;

    &.show {
        pointer-events: auto;
        opacity: 1;
    }

    &.active {
        stroke: $white;
        stroke-width: 1.5px;
        filter: drop-shadow(0 0 1px);
    }
}

.tick:nth-of-type(6),
.tick:nth-of-type(odd) > text {
    display: none;
}

#quadrant-auth-left {
    fill: rgba($reg-red, 0.18);
}

#quadrant-auth-right {
    fill: rgba($reg-blue, 0.2);
}

#quadrant-lib-left {
    fill: rgba($reg-green, 0.2);
}

#quadrant-lib-right {
    fill: rgba($reg-purple, 0.18);
}
