/* D3 Tooltips ----------------------------------- */

@import '_colors';

.d3-tip {
    padding: 0.5rem;
    color: $light-grey;
    line-height: 1;
    background-color: $navy-blue;
    border-radius: 2px;
    pointer-events: none;
    transform: translateY(-0.5rem);
    transition: opacity 300ms;
}

/* Triangular pointer */
.d3-tip::after {
    display: inline;
    position: absolute;
    width: 100%;
    color: $navy-blue;
    font-size: 12px;
    line-height: 1;
    pointer-events: none;
    box-sizing: border-box;
}

/* Northward tooltips */
.d3-tip.n::after {
    content: '\25bc';
    top: 100%;
    left: 0;
    margin: -4px 0 0 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e::after {
    content: '\25c0';
    top: 50%;
    left: -8px;
    margin: -4px 0 0 0;
}

/* Southward tooltips */
.d3-tip.s::after {
    content: '\25b2';
    top: -11px;
    left: 0;
    margin: 0 0 1px 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w::after {
    content: '\25b6';
    top: 50%;
    left: 100%;
    margin: -4px 0 0 -1px;
}
