/* Fonts ----------------------------------------- */

@font-face {
    font-family: 'Istok';
    src: url('/fonts/Istok.woff2') format('woff2'),
         url('/fonts/Istok.woff') format('woff'),
         url('/fonts/Istok.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Font Awesome';
    src: url('/fonts/fa.woff2') format('woff2'),
         url('/fonts/fa.woff') format('woff'),
         url('/fonts/fa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
