/* Layout ---------------------------------------- */

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
    /* color: #5d5f63; */
    font-family: 'Istok', sans-serif;
    letter-spacing: 0.01em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    @media (min-width: 600px) {
        width: calc(100% - 12rem);
        margin-left: 12rem;
    }
}

#top-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    transform: translateY(-7.5rem);
    transition: transform 300ms;

    @media (min-width: 600px) {
        margin-left: 12rem;
    }

    @media (min-width: 780px) {
        transform: translateY(-3.2rem);
    }

    &.show {
        transform: translateY(0);
    }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#action-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.8rem;

    @media (min-width: 600px) {
        left: 12rem;
    }
}
