/* Menu ----------------------------------------- */

@import '_colors';

.menu-item {
    list-style-type: none;

    #menu > & {
        border-bottom: 1px solid rgba(white, 0.05);
    }
}

.menu-label {
    display: block;
    padding: 0.8rem 1rem;
    color: $reg-grey;
    line-height: 1;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color 150ms;

    span {
        display: inline-block;
    }
}

.tl-menu-label {
    font-size: 1.125rem;

    &:focus,
    &:hover {
        color: $light-marine;
    }

    .expanded > & {
        color: $reg-marine;

        &:focus,
        &:hover {
            color: $light-marine;
        }
    }
}

.menu-icon {
    padding-right: 0.25rem;
    width: 1rem;
    text-align: center;
}

.menu-checkbox {
    position: relative;
    left: -99999px;
    z-index: -99999;
    width: 0;
    border: 0;

    &:not(:checked) + .custom-checkbox {
        background-color: $black !important;
    }

    /* &:hover + .custom-checkbox, */
    &:focus + .custom-checkbox {
        box-shadow: inset 0 0 0 0.1rem $reg-grey, inset 0 0 0.2rem rgba(black, 0.5);
    }
}

.custom-checkbox {
    width: 1.25rem;
    height: 1.25rem;
    color: $black;
    /* font-weight: bolder; */
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 0 0 0.15rem rgba(black, 0.5);
    transition: background-color 150ms, box-shadow 150ms;

    .sub-menu & {
        width: 1rem;
        height: 1rem;
        margin-top: -0.1rem;
    }

    .add-item & {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
        /* line-height: 1.0625rem; */

        &::before {
            margin-bottom: -0.1rem;
        }
    }
}

.sub-menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: $navy-blue;
    transition: max-height 400ms ease-in;

    .expanded > & {
        max-height: 26rem;
        transition: max-height 400ms ease-out;
    }
}

#menu-user .sub-menu-item {
    background-color: $navy-blue;
    transition: background-color 150ms;

    &.sortable-chosen,
    &.sortable-drag {
        background-color: $dark-marine;

        &::before {
            content: '\f0dc';  /* fa-sort */
            float: left;
            display: flex;
            align-items: center;
            height: 1.7rem;
            margin-left: 0.1rem;
            color: #23313f;
            font-family: 'Font Awesome';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

.sub-menu-label {
    padding: 0.5rem 1.125rem 0.5rem 1rem;
    font-size: 0.85rem;
    color: $reg-grey;

    /* .sortable-chosen > &,
    .sortable-drag > &, */
    /* &:hover, */
    &:focus {
        color: $reg-marine;
    }

    .sub-menu-item:first-of-type > & {
        padding-top: 0.8rem;
    }

    .sub-menu-item:last-of-type > & {
        padding-bottom: 0.8rem;
    }
}

/*
.menu-text-input {
    max-width: 75%;
    margin: -0.2rem;
    padding: 0.2rem;
    color: $reg-grey;
    font-size: 0.8rem;
    border: 1px solid transparent;
    background-color: transparent;
    transition: border-color 150ms, background-color 150ms;

    &::placeholder {
        font-style: italic;
    }

    &:focus {
        border: 1px solid $dark-marine;
        background-color: $black;

        &::placeholder {
            color: transparent;
        }
    }
}

*/

#app-title {
    font-size: 1.3rem;
    font-weight: lighter;
    color: $light-grey;
    white-space: nowrap;
    cursor: default;

    &:focus,
    &:hover {
        @media (max-width: 599px) {
            color: $reg-yellow;
            cursor: pointer;
        }

        > i {
            animation: compass-rotate 5s;
        }
    }

    > .menu-icon {
        width: unset;
        margin-left: -0.2rem;
        padding-right: 0;
    }

    > span {
        padding-left: 0.35rem;
    }
}

#beta {
    position: absolute;
    right: 0;
    margin: 0.2rem 0.4rem;
    color: darken($dark-grey, 10%);
    font-size: 0.7rem;
}
