/* Pico Modals ------------------------------------ */

@import '_colors';

.pico-overlay,
.pico-content {
    opacity: 0;
    transition: opacity 600ms;

    &.show {
        opacity: 1;
    }
}

.pico-content {
    min-width: 90%;
    text-align: center;
    transition: opacity 300ms;

    @media (min-width: 360px) {
        min-width: 80%;
    }

    @media (min-width: 420px) {
        min-width: 70%;
    }

    @media (min-width: 540px) {
        min-width: 60%;
    }

    @media (min-width: 720px) {
        min-width: unset;
    }

    h3 {
        line-height: 1.5em;

        &.one-liner {
            line-height: normal;
        }
    }

    p {
        margin-top: 1rem;
        line-height: 1.4em;

        &.larger {
            font-size: 1.25rem;
        }

        &.smaller {
            font-size: 0.8rem;
        }
    }

    a {
        /* padding-bottom: 0.1rem; */
        color: lighten($dark-blue, 10%);
        font-weight: bolder;
        text-decoration: none;
        /* border: 0; */
        border-bottom: 1px dashed transparent;
        transition: color 80ms, border-color 80ms;

        &:focus,
        &:hover {
            color: $navy-blue;
            border-bottom: 1px dashed $navy-blue;
        }
    }

    input,
    button {
        margin: 1.5rem 0.5rem 0.5rem;
        padding: 0.5rem;
        font: normal 1rem sans-serif;
        letter-spacing: 0.01em;
        border-radius: 3px;
        transition: border-color 80ms, box-shadow 80ms;
    }

    input {
        max-width: 7rem;
        text-align: center;
        background-color: lighten($light-blue, 10%);
        border: 1px solid lighten($dark-blue, 10%);
        box-shadow: inset 0 0 2px rgba($dark-blue, 0.2);

        &:focus {
            border-color: 1px solid $reg-yellow;
            box-shadow: inset 0 0 2px rgba($dark-blue, 0.2), 0 0 0.5rem darken($reg-yellow, 10%);
        }
    }

    button {
        color: $white;
        cursor: pointer;
        background-color: lighten($dark-blue, 10%);
        border: 1px solid $dark-blue;

        #modal-conflict & {
            display: block;
        }

        &[disabled],
        &[disabled="true"] {
            color: $dark-grey;
            pointer-events: none;
        }

        &:focus,
        &:hover {
            border: 1px solid $reg-yellow;
            box-shadow: 0 0 0.5rem darken($reg-yellow, 10%);
            animation: 1s ease 150ms infinite alternate bg-pulse;
        }

        > i {
            margin-right: 0.5rem;
            pointer-events: none;
        }
    }
}

.no-tip {
    margin-right: 0.5rem;
    -webkit-appearance: checkbox;
}

#url {
    font-weight: bolder;
}

#qr-code {
    margin: 1.5rem 0;
}
