/* Point Values ---------------------------------- */

@import '_colors';

#point-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    pointer-events: all;
    color: $light-grey;
    background-color: lighten($dark-blue, 10%);
    border-radius: 0 0 3px 3px;
    border: 1px solid $dark-blue;
    border-top: 0;
    box-shadow: 0 0 3px rgba($dark-blue, 0.2);

    @media (min-width: 780px) {
        flex-direction: row;
    }

    > .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-of-type {
            width: 100%;
            margin: 0.5rem 0;

            @media (min-width: 780px) {
                width: unset;
                margin: unset;
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
    }

    button,
    input {
        margin-left: 0.5rem;
        max-width: 4rem;
        padding: 0.1rem 0.35rem;
        color: $black;
        background-color: $white;
        border-radius: 3px;
        border: 1px solid $dark-blue;
        box-shadow: inset 0 0 1px rgba($dark-blue, 0.2);
        transition: border-color 80ms;

        &:focus {
            border-color: $reg-yellow;
        }
    }

    input {
        font-size: 1.125rem;
    }

    .point-item {
        @media (min-width: 780px) {
            margin: 0 0.5rem;
        }

        &:last-of-type {
            margin-left: 1rem;

            @media (min-width: 780px) {
                margin-left: 0.5rem;
            }
        } 
    }

    #point-name {
        width: 100%;
        max-width: 12.825rem;
        margin: 0;
        text-align: center;

        @media (min-width: 780px) {
            width: unset;
            max-width: 9rem;
            margin-right: 0.5rem;
        }

        &::placeholder {
            font-style: italic;
        }
    }

    button,
    #point-color {
        height: 1.8rem;
        font-size: 1.3rem;
        cursor: pointer;
    }

    #point-color {
        margin: 0 0.75rem;
    }
    
    #point-done {
        margin-left: 1rem;
        margin-right: 0;

        @media (min-width: 780px) {
            margin-left: 0.5rem;
        }
    }
}
