/* Reset ----------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

input {
    -webkit-appearance: none;
}
