/* Sidebar --------------------------------------- */

@import '_colors';

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 12rem;
    height: 100%;
    overflow-y: auto;
    background-color: $dark-blue;
    transform: translateX(-12rem);
    transition: all 400ms ease-in-out;

    &.show {
        transform: translateX(0);
    }

    @media (min-width: 600px) {
        transform: translateX(0);
    }
}
